<%= image_tag "soloski", :class => 'resort-background'%>

<div class="user-container">

<h1>Sign up to Snowbuddy</h1>

<div class="signup">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.email_field :email%>

      <%= f.label :nickname %>
      <%= f.text_field :nickname %>

      <%= f.label :password %>
      <%= f.password_field :password%>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "signup-submit" %>
    <% end %>
</div>
</div>
